.Home {
    background: url('../assets/backgrounds/hero.png') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

.Home::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}